@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 61px;
  padding: 0;
  z-index: 1000;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
.menu > li a {
  color: hsl(240deg, 100%, 5%);
  text-decoration: none;
  font-size: 1.125em;
}
.menu > li a:hover {
  color: hsl(35deg, 77%, 62%);
  text-decoration: underline;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: hsl(240deg, 100%, 5%);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  z-index: 10000;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
    background-color: hsl(36deg, 100%, 99%);
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu {
    background-color: hsl(36deg, 100%, 99%);
  }
  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em 0 0.5em 2.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    background-color: hsl(36deg, 100%, 99%);
  }
  .menu > li {
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
body {
  background-color: hwb(36 98% 0%);
  font: 15px "Intern", Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  max-width: 1140px;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

header {
  display: flex;
  flex-wrap: unset;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 40px 20px;
  position: relative;
}

.content {
  transition: margin 0.3s ease-in-out;
  width: 100%;
  max-width: 1440px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.desktop-banner {
  display: none;
}
@media (min-width: 1200px) {
  .desktop-banner {
    display: block;
    background-image: url("assets/images/image-web-3-desktop.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
  }
}

.mobile-banner {
  display: block;
  position: relative;
  background-image: url("images/image-web-3-mobile.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  height: auto;
  min-height: 300px;
  width: auto;
  margin: 0 1.25em 1.25em 20px;
}
@media (min-width: 1200px) {
  .mobile-banner {
    display: none;
  }
}

.button {
  background-color: hsl(5deg, 85%, 63%);
  color: hsl(36deg, 100%, 99%);
  font-size: 14px;
  line-height: 24px;
  padding: 0.75em 36px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
}
.button:hover {
  background-color: hsl(35deg, 77%, 62%);
}

.attribution {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1.25em 0;
}
.attribution a {
  padding: 0 0 0 5px;
}

.grid-container {
  display: block;
  max-width: 1440px;
  width: 100%;
}
@media (min-width: 992px) {
  .grid-container {
    display: grid;
  }
}
.grid-container h2 {
  color: hsl(35deg, 77%, 62%);
  font-size: 40px;
  line-height: 40px;
  padding: 10px 0 0 0;
}

.grid-item {
  padding: 0 20px;
  font-size: 30px;
}
.grid-item h3 {
  font-size: 20px;
  line-height: 24px;
}
.grid-item p {
  font-size: 1rem;
  line-height: 26px;
}

.item1 {
  grid-column: 1/span 2;
  grid-row: 1;
}

.item1 {
  padding: 0;
}

.item2 {
  grid-column: 3;
  grid-row: 1/span 2;
  margin: 0 16px 0 16px;
}

.news-sidebar {
  background-color: hsl(240deg, 100%, 5%);
  padding: 20px;
  margin-bottom: 64px;
}

.item3 h1 {
  font-size: 56px;
  list-style: 56px;
  margin-bottom: 16px;
}

.item4 p {
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 24px;
}

.item5 {
  grid-column: 1/span 3;
  grid-row: 3;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.item-row {
  margin: auto 0;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 50px 0;
}
.item-row h3 {
  min-width: 100%;
}
.item-row h3 a {
  color: hsl(36deg, 100%, 100%);
  color: hsl(36deg, 100%, 100%);
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
  text-decoration: none;
}
.item-row h3 a:hover {
  color: hsl(35deg, 77%, 62%);
}
.item-row p {
  color: hsl(36deg, 100%, 99%);
}

.item-row:nth-of-type(2) {
  border-top: 1px solid hsl(36deg, 100%, 99%);
  border-bottom: 1px solid hsl(36deg, 100%, 99%);
}

aside {
  background-color: hsl(240deg, 100%, 5%);
  margin-top: 64px;
}
@media (min-width: 1200px) {
  aside {
    margin-top: 0;
  }
}
aside ul {
  list-style: none;
}

.latest-post {
  list-style-type: none;
  margin: auto;
  padding: auto;
  display: block;
}
@media (min-width: 992px) {
  .latest-post {
    display: flex;
    flex-wrap: unset;
  }
}
.latest-post li.post-item {
  display: grid;
  gap: 0px;
  height: 100%;
  margin-bottom: 32px;
}
@media (min-width: 992px) {
  .latest-post li.post-item {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.latest-post li.post-item .col-1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 1;
  grid-column-end: 1;
}
.latest-post li.post-item .col-1 img {
  width: 100%;
  height: auto;
}
.latest-post li.post-item .col-2 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 1;
  grid-column-end: 6;
  padding: 0 0 0 24px;
}
.latest-post li.post-item .col-2 span.number {
  color: hsl(233deg, 8%, 79%);
  font-size: 32px;
  line-height: 32px;
  font-weight: 700px;
}
.latest-post li.post-item .col-2 span.text {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
}
.latest-post li.post-item .col-2 h3 a {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: hsl(240deg, 100%, 5%);
  text-decoration: none;
}
.latest-post li.post-item .col-2 h3 a:hover {
  color: hsl(35deg, 77%, 62%);
}