:root {
      /* set primary colors */

  --clr-primary-o: hsl(35, 77%, 62%);   /*soft orange*/
  --clr-primary-r: hsl(5, 85%, 63%);   /*soft read*/

  /* set Neutral colors */
  --clr-neutral-w: hsl(36, 100%, 99%);   /*off white*/
  --clr-neutral-gb: hsl(233, 8%, 79%);    /*grayish blue*/
  --clr-neutral-dgb: hsl(236, 13%, 42%);    /*Dark grayish blue*/
  --clr-neutral-vgb: hsl(240, 100%, 5%);      /*very grayish blue*/

/* font-family */

--ff-base: "Inter", sans-serif;

/* font weight */
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-xbold: 800;

}
* {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  list-style: none;
  
}
html {
  font-size: 0.9rem;
}
body { 
  max-width: 1240px;
  margin: auto;
 --content-padding: 1.25rem; 
 --content-padding2: .35rem 1.8rem; 
  color: var(--clr-neutral-vgb);
  background-color: var(--clr-neutral-w);

  /* for this project */
  /* display: grid;
  place-content: center;
  margin: 1rem; */
}
.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--content-padding);
}
.container__header-nav {
  display: none; /* check this later */
}

.container__content {
  padding: var(--content-padding);
  padding-top: 0;
}
.container__content h1 {
  font-size: 2rem;
  font-weight: var(--fw-xbold);
  color: var(--clr-neutral-vgb);
  /* margin: 1rem 0; */
}
.content_paragraph {
  margin-bottom: 1rem;
  color:var(--clr-neutral-dgb);
}
.content-button {
  background-color: var(--clr-primary-r);
  color: var(--clr-neutral-w);
  padding: var(--content-padding2);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: var(--fw-bold);
  font-size: 1rem;
  outline: none;
  border: none;
  transition: all .3s ease-in-out;
  
}
.content-button:hover {
  background-color: var(--clr-neutral-vgb);
  cursor: pointer;
}
.container__content-aside {
  background-color: var(--clr-neutral-vgb);
  color: var(--clr-neutral-w);
  margin-top: var(--content-padding);
  padding: var(--content-padding);
}

.container__content-aside h2 {
  color: var(--clr-primary-o);
  margin-bottom: .5rem;
}

.content_aside-text h3 {
  color: var(--clr-neutral-w);
  margin-bottom: .5rem;
}

.content_aside-text h3:hover {
  color: var(--clr-primary-o);
  cursor: pointer;
}
.content_aside-border {
  color: var(--clr-neutral-dgb);
  opacity: 50%;
}

.container__cards {
  padding: var(--content-padding);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.card_content {
  gap: 1rem;
  display: flex;
  align-items: center;
  
  padding-top: 0;

}
.card_content img {
  width: 100px;
  /* height: 100%; */
  /* overflow: hidden; */
}

.card_content  span {
  margin-top: 0;
  padding-top: 0;
  color: var(--clr-neutral-dgb);
  font-weight: var(--fw-bold);
  font-size: 2rem;
  opacity: 30%;
}

.card_content h4 {
  font-weight: var(--fw-xbold);
  color: var(--clr-neutral-vgb);
  font-size: 1.2rem;
  line-height: 1rem;
  padding-bottom: .54rem;
  
}

.card_content h4:hover {
  color: var(--clr-primary-r);
  cursor: pointer;
}

.card_content p {
  color: var(--clr-neutral-dgb);
  font-size: 1.2rem;
}

@media (min-width: 800px) {
  .container__header-nav {
    display: flex;
  }
  .menu {
    display: flex; 
  }
  .menu li a {
    text-decoration: none !important;
    align-items: center;
    justify-content: space-between;

  } 
  }
  .container__content {
    display: flex;
    gap: 1.41rem;
  }
  .container__content-aside {
    margin-top: 0;
  }
  .container__content h1 {
    padding: 0;
    font-size: 3.5rem;
    line-height: 3.5rem;
  
  }
  .content_left-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    place-items: center;
    margin-top: 3.8rem;
  }
  .content-paragraph  {
    font-size: 3.5rem;
    line-height: 2.5rem;
  }
  .content-button {
    margin-top: 2.5rem;
  }



  .container__cards {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
  }
}


      .attribution {
        font-size: 14px;
        text-align: center;
        margin-top: 2rem;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }